<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title></title>
<style>
	#Fen{
		width: 155px;
		text-align: center;
	}
	#XS{
		font-size: 200px;
	}
	#PINGMU{
		margin: 0 auto;
		position: absolute;
		border: 4px solid orange;
	}
	#CTRL{
		text-align: center;
		font-size: 40px;
	}
	.kk{
		font-size: 40px;
	}
	#Start{
		padding: 20px 30px 20px 30px;
		background: white;
		cursor: pointer;
	}
	#BTN{
		width: 220px;
		height: 106px;
		border-radius: 100px;
		margin: 0 auto;
		margin-top: 10px;
	}


</style>
</head>
<body>
<div id="CTRL" >定时<input type="text" id="Fen" placeholder="分钟数" class="kk" >分钟
<div id="BTN" ><input type="button" value="计时开始" id="Start" class="kk"></div>
<span id="Player"></span></div>
<div id="PINGMU" ><span id="XS"></span></div>
{% load static %}
<script src="{% static "common.js" %}"></script>
<pre>{% static "common.js" %}</pre>
<script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
<script>
	var getleft=window.innerWidth/2-500/2;
	var gettop=window.innerHeight/2-200/2
	$("#PINGMU").css("left",getleft+"px");
	$("#PINGMU").css("top",gettop+"px");
	$("#Fen").focus(
		function()
		{
			this.value="";
		}
	);
	$("#Fen").blur(
		function()
		{
			Fen=this.value;
		}
	);
	var miao=60;
	$("#Start").click(
		function()
		{
			if($("input[type=text]").val()=="")
			{
				alert("请输入时间")
			}
			else if($("input[type=text]").val()>60)
			{
				alert("可用范围1~60分钟")
			}
			else
			{
				if(this.value=="计时开始")
				{
					$("#Fen").get(0).disabled=true;
					this.value="取消计时";
					timer=setInterval(
					function()
					{
						if(Fen==0&&miao==1)//分钟数=0的时候
						{
							$("#Player").get(0).innerHTML="<audio src='n.mp3' autoplay loop='loop'></audio>";
							$("#Start").val("停止音乐");
							clearInterval(timer);
						}
						if(Fen>=0&&Fen<=10)//分钟数0~10
						{
							miao--;
							if(miao==0)//秒数等于0的时候
							{
								miao=60;
								$("#XS").get(0).innerHTML="0"+Fen+":"+"00";
							}
							if(miao>0&&miao<10)//秒数0~10的时候
							{
								miao="0"+miao;
								$("#XS").get(0).innerHTML="0"+Fen+":"+miao;
							}
							if(miao>=10&&miao!=60)//秒数大于等于10的时候
							{
								if(miao==59)
								{
									Fen--
								}
								$("#XS").get(0).innerHTML="0"+Fen+":"+miao;
							}
						}
						if(Fen>10)//分钟数大于10的时候
						{
							miao--;
							if(miao==0)//秒数等于0的时候
							{
								miao=60;
								$("#XS").get(0).innerHTML=Fen+":"+"00";
							}
							if(miao>0&&miao<10)//秒数0~10的时候
							{
								miao="0"+miao;
								$("#XS").get(0).innerHTML=Fen+":"+miao;
							}
							if(miao>=10&&miao!=60)//秒数大于等于10的时候
							{
								if(miao==59)
								{
									Fen--
								}
								$("#XS").get(0).innerHTML=Fen+":"+miao;
							}
						}
					},
					1000
					)
				}
				else
				{
					miao=60;
					$("#Fen").get(0).disabled=false;
					this.value="计时开始";
					$("audio").replaceWith("");
					$("#XS").get(0).innerHTML="00:00"
					$("input[type=text]").focus().val("");
					clearInterval(timer);
				}
			}	
		}
);
	$("input[type=text]").focus();
</script>
</body>
</html>
